header.site-header
	.logo
		h1
			span.name RYO
			i.icon-ring
			span.name AYUKA
			br
			span.scripts Wedding
	nav
		.slideout-menu
			ul
				li: a(href="#our_story") OUR STORY
				li: a(href="#where") WHERE&WHEN
				li: a(href="#rspv") R.S.V.P.
a.slideout-menu-toggle(href="javascript:void(0)")
	span.cd-menu-icon
	span
	span