#page-loading
  .loading
    .name
      span RYO
      i.icon-ring
      span AYUKA
    .loader
      span.let1 W
      span.let2 E
      span.let3 D
      span.let4 D
      span.let5 I
      span.let6 N
      span.let7 G
      span.let8 ...