footer.site-footer
	.logo-wrap
		.logo
			i.icon-reef_left.fl-elem
			i.icon-reef_right.fl-elem
			span.name RYO
			i.icon-ring
			span.name AYUKA
			br
			span.scripts Wedding
|<!-- /.fooer -->

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="dist/js/jquery.countdown.js")
script(src="dist/js/scrollreveal.min.js")
script(src="dist/js/jquery.nicescroll.min.js")
script(src="dist/js/scripts.js")