header.site-header
  .logo
    h1 <span class="name">RYO</span><i class="icon-ring"></i><span class="name">AYUKA</span><br><span class="scripts">Wedding</span>
  nav
    .slideout-menu
      ul
        li: a(href="#") TOP PAGE
a.slideout-menu-toggle(href="javascript:void(0)")
  span.cd-menu-icon
  span
  span