/*==================================================================================
  web fonts
==================================================================================*/

@font-face {
  font-family: 'pacifico';
  src: url('../../fonts/pacifico/pacifico.ttf') format('truetype'),
       url('../../fonts/pacifico/pacifico.woff') format('woff'),
       url('../../fonts/pacifico/pacifico.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../../fonts/renner/renner_700_bold.ttf') format('truetype'),
       url('../../fonts/renner/renner_700_bold.woff') format('woff'),
       url('../../fonts/renner/renner_700_bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/*==================================================================================
  icon fonts
==================================================================================*/

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icon/icomoon.eot?6mzi0j');
  src:  url('../../fonts/icon/icomoon.eot?6mzi0j#iefix') format('embedded-opentype'),
    url('../../fonts/icon/icomoon.ttf?6mzi0j') format('truetype'),
    url('../../fonts/icon/icomoon.woff?6mzi0j') format('woff'),
    url('../../fonts/icon/icomoon.svg?6mzi0j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-bamboo:before {
  content: "\e915";
}
.icon-cloud01:before {
  content: "\e916";
}
.icon-cloud02:before {
  content: "\e917";
}
.icon-diamond:before {
  content: "\e918";
}
.icon-flower01:before {
  content: "\e919";
}
.icon-flower02:before {
  content: "\e91a";
}
.icon-fukusuke:before {
  content: "\e91b";
}
.icon-mitama:before {
  content: "\e91c";
}
.icon-musubi:before {
  content: "\e91d";
}
.icon-noshi:before {
  content: "\e91e";
}
.icon-pine:before {
  content: "\e91f";
}
.icon-plum:before {
  content: "\e920";
}
.icon-sensu:before {
  content: "\e921";
}
.icon-time_diamond:before {
  content: "\e922";
}
.icon-tsuru:before {
  content: "\e923";
}
.icon-arrow_up:before {
  content: "\e914";
}
.icon-check:before {
  content: "\e912";
}
.icon-arrow02:before {
  content: "\e913";
}
.icon-arrow_left:before {
  content: "\e900";
}
.icon-arrow_right:before {
  content: "\e901";
}
.icon-bow_tie:before {
  content: "\e902";
}
.icon-church:before {
  content: "\e903";
}
.icon-couple:before {
  content: "\e904";
}
.icon-damond:before {
  content: "\e905";
}
.icon-element01:before {
  content: "\e906";
}
.icon-element02:before {
  content: "\e907";
}
.icon-fireworks:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-map_pin:before {
  content: "\e90a";
}
.icon-party:before {
  content: "\e90b";
}
.icon-pearl:before {
  content: "\e90c";
}
.icon-pin:before {
  content: "\e90d";
}
.icon-reef_left:before {
  content: "\e90e";
}
.icon-reef_right:before {
  content: "\e90f";
}
.icon-ring:before {
  content: "\e910";
}
.icon-time_damond:before {
  content: "\e911";
}
