.unit-ttl {
  font-family: 'pacifico';
  font-size: 5rem;
  text-align: center;
  font-weight: normal;
  margin: 0 0 0;
  @include mdc-md {
    font-size: 4rem;
  }
  @include mdc-sm {
    font-size: 3rem;
  }
}

.btn {
  transform: scale(1);
  &:active {
    transform: scale(.98);
  }
}