.unit-ttl {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin: 0 0 0;
  position: relative;
  @include mdc-sm {
    font-size: 3rem;
  }
  &::before {
    font-family: 'icomoon';
    content: "\e915";
    display: block;
    font-size: 6rem;
    font-weight: normal;
    line-height: 1em;
    color: $blk;
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
    @include mdc-sm {
      font-size: 4rem;
      bottom: -4rem;
    }
  }
}

.btn {
  transform: scale(1);
  &:active {
    transform: scale(.98);
  }
}