.rsvp-form-unit {
  background-image: url(../../img/bg_form_plam.png),
                    url(../../img/bg_form_bamboo.png),
                    url(../../img/bg_form.jpg);
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 55%,55%,50%;
  background-position: -20% 10%,120% 90%,left top;
  position: relative;
  z-index: 2;
  @include mdc-sm {
    background-size: 80%,80%,50%;
    background-position: -20% 10%,120% 90%,left top;
  }

  &__inr {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 4% 9rem;
    padding:24rem 0 15rem;
    position: relative;
    @include mdc-md {
      width: 90%;
      box-shadow: none;
    }
    @include mdc-sm {
      width: 96%;
      padding: 22rem 3% 9rem;
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 4rem;
      background-image: url(../../img/form_elem.svg);
      background-repeat: repeat-x;
      background-size: 40% auto;
      position: absolute;
      left: 50%;
      top: -2rem;
      transform: translateX(-50%);
      z-index: 2;
      @include mdc-md {

      }
      @include mdc-sm {
        width: 80%;
        background-size: 73% auto;
        top: -1rem;
      }
    }
  }//&__inr
}//.rsvp-form-unit


.rsvp-form {
  &__head {
    text-align: center;
    margin: 0 0 6rem;
    @include mdc-sm {
      margin: 0 0 8rem;
    }
    h2 {
      margin: 0 0 5rem;
      line-height: 1;
      padding: 0 3rem 0;
      font-size: 3.2rem;
      position: relative;
      &::before {
        font-family: 'icomoon';
        content: "\e91e";
        display: block;
        font-size: 7rem;
        line-height: 1em;
        color: $blk;
        position: absolute;
        left: 50%;
        top: -12rem;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.8;
      position: relative;
      @include mdc-sm {
        font-size: 1.3rem;
      }
    }
  }//&__head

  &__form {
    padding: 0 5rem;
    position: relative;
    z-index: 5;
    @include mdc-sm {
      padding: 0 0;
    }

    fieldset {
      padding: 0;
      border-radius: 0;
      border: none;
    }

    .attendance {
      text-align: center;
      margin: 0 0 5rem;
      position: relative;
      @include mdc-sm {
        margin: 0 0 6rem;
      }
      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: $blk;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      label {
        display: inline-block;
        input[type=radio] { display: none; }
        span {
          display: inline-block;
          font-size: 3rem;
          font-weight: bold;
          margin: 0 4rem;
          position: relative;
          @include mdc-sm {
            font-size: 7vw;
            margin: 0 9vw;
          }
        }
        input:checked + span {
          &::before {
            display: block;
            content: "";
            width: 5rem;
            height: 5rem;
            border: 6px solid $red;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            @include mdc-sm {
              width: 10vw;
              height: 10vw;
              border: 1.3vw solid $red;
            }
          }
        }
        .no-checked + span {
          color: #B5B5B5;
          &::after,&::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $red;
            position: absolute;
            left: 0;
          }
          &::after {
            top: 1.5rem;
          }

          &::before {
            bottom: 1.5rem;
          }
        }
      }//label
    }//.attendance

    ul {
      li {
        margin: 0 0 3rem;
      }

      input[type=text],input[type=number] {
        height: 50px;
        line-height: 50px;
        margin: 0 0;
        border-radius: 3px;
        border: 1px solid #D0D0D0;
        &:hover {
          border-color: $yellow;
        }
        &:focus {
          border-color: $blk;
        }
      }
      textarea{
        width: 100%;
        height: 20rem;
        margin: 0 0;
        border-radius: 3px;
        border: 1px solid #D0D0D0;
        padding: 1rem;
        &:hover {
          border-color: $yellow;
        }
        &:focus {
          border-color: $blk;
        }
      }
    }//ul

    .rff-msg {
      margin: 2rem 0 3rem;
      dt {
        margin: 0 0 1rem;
      }
    }

    .other-check {
      margin: 0 0 5rem;
      label {
        display: inline-block;
        margin: 0 2rem 0 0;
        @include mdc-sm {
          margin: 0 2rem 1rem 0;
        }
        span {
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 2rem;
        }
      }
    }//.other-check
  }//&__form

  &__btn {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 1.5rem 0;
    border-radius: 3px;
    text-align: center;
    background-color: $red;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    @include mdc-sm {
      width: 90%;
    }
    transition: all .3s;
    &:hover {
      background-color: lighten( $red, 10% );
    }
  }//&__btn

}//.rsvp-form