footer.site-footer
  .logo-wrap
    .footer-img
      span(style="background-image: url(img/sample/footer_img.jpg);")
    .logo
      span.name RYO
      i
        include ../inc_svg/_logo.svg
      span.name AYUKA
      br
      span.scripts Wedding
|<!-- /.fooer -->

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="dist/js/jquery.countdown.js")
script(src="dist/js/scrollreveal.min.js")
script(src="dist/js/scripts.js")