header.site-header.thanks-header
  .logo
    h1
      span.name RYO
      i
        include ../inc_svg/_logo.svg
      span.name AYUKA
      br
      span.scripts Wedding
  nav
    .slideout-menu
      ul
        li: a(href="#") TOP PAGE
a.slideout-menu-toggle(href="javascript:void(0)")
  span.cd-menu-icon
  span
  span