header.site-header
  .logo
    h1
      span.name RYO
      i.icon-tsuru
      span.name AYUKA
      br
      span.scripts Wedding
  nav
    .slideout-menu.serif
      ul
        li: a(href="#our_story") トップページ
a.slideout-menu-toggle(href="javascript:void(0)")
  span.cd-menu-icon
  span
  span