.rsvp-form-unit {
  background-image: url(../../img/bg_flower.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 105% auto;
  background-position: center;
  padding: 5rem 0 15rem;
  position: relative;
  z-index: 2;
  @include mdc-md {
    background-image: url(../../img/bg_flower.png),
                      url(../../img/bg_flower.png);
    background-repeat: no-repeat,
                       no-repeat;
    background-size: 105% auto,
                     105% auto;
    background-position: center -10%,
                         center 110%;
  }
  @include mdc-sm {
    background-position: center -3%,
                         center 103%;
  }

  &__inr {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 12rem 4% 9rem;
    background-color: white;
    box-shadow: 0 3px 40px rgba(0,0,0,.1);
    position: relative;
    @include mdc-md {
      width: 90%;
      box-shadow: none;
    }
    @include mdc-sm {
      width: 96%;
      padding: 6rem 3% 9rem;
    }

    &::after,&::before {
      content: "";
      display: block;
      background-image: url(../../img/form_elem01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 96%;
      height: 10rem;
      position: absolute;
      left: 2%;
      z-index: 1;
    }

    &::after {
      top: 2rem;
    }

    &::before {
      bottom: 2rem;
      transform: rotate(180deg);
    }
  }//&__inr
}//.rsvp-form-unit


.rsvp-form {
  &__head {
    text-align: center;
    margin: 0 0 12rem;

    @include mdc-sm {
      margin: 0 0 8rem;
    }
    h2 {
      margin: 0 0 0;
    }
    h3 {
      font-family: 'hammersmith';
      margin: 0 0 5rem;
      @include mdc-sm {
        margin: 0 0 6rem;
      }
    }
    p {
      line-height: 1.8;
      margin: 0;
      padding: 7rem 0;
      background-image: url(../../img/form_elem02.svg),
                        url(../../img/form_elem02.svg);
      background-repeat: no-repeat,no-repeat;
      background-size: 50% auto,50% auto;
      background-position: top center,bottom center;
      position: relative;
      @include mdc-sm {
        padding: 4rem 0;
        font-size: 1.3rem;
      }

    }
  }//&__head

  &__form {
    position: relative;
    z-index: 5;

    fieldset {
      padding: 0;
      border-radius: 0;
      border: none;
    }

    .attendance {
      text-align: center;
      margin: 0 0 5rem;
      position: relative;
      @include mdc-sm {
        margin: 0 0 6rem;
      }
      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: $blk;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      label {
        display: inline-block;
        input[type=radio] { display: none; }
        span {
          display: inline-block;
          font-size: 3rem;
          font-weight: bold;
          margin: 0 4rem;
          position: relative;
          @include mdc-sm {
            font-size: 7vw;
            margin: 0 9vw;
          }
        }
        input:checked + span {
          &::before {
            display: block;
            content: "";
            width: 5rem;
            height: 5rem;
            border: 6px solid $gold;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            @include mdc-sm {
              width: 10vw;
              height: 10vw;
              border: 1.3vw solid $gold;
            }
          }
        }
        .no-checked + span {
          color: #B5B5B5;
          &::after,&::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $gold;
            position: absolute;
            left: 0;
          }
          &::after {
            top: 1.5rem;
          }

          &::before {
            bottom: 1.5rem;
          }
        }
      }//label
    }//.attendance

    dl {
      margin: 0 0 2rem;
      dt {
        span {
          display: inline-block;
        }
        .ja {
          font-size: 1.3rem;
          font-weight: bold;
          margin: 0 .5rem 0 0;
        }
        .en {
          font-weight: normal;
          font-family: 'hammersmith';
          color: $gold;
          margin: 0 0 0 .8rem;
        }
      }//dt

      input[type=text],input[type=number] {
        margin: 0 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #D0D0D0;
        &:hover {
          border-color: $gold;
        }
        &:focus {
          border-color: $blk;
        }
      }
      textarea{
        width: 100%;
        height: 20rem;
        margin: 0 0;
        border-radius: 0;
        border: 1px solid #D0D0D0;
        padding: 1rem;
        &:hover {
          border-color: $gold;
        }
        &:focus {
          border-color: $blk;
        }
      }
    }//dl

    .rff-msg {
      margin: 2rem 0 3rem;
      dt {
        margin: 0 0 1rem;
      }
    }

    .other-check {
      margin: 0 0 5rem;
      label {
        display: inline-block;
        margin: 0 2rem 0 0;
        @include mdc-sm {
          margin: 0 2rem 1rem 0;
        }
        span {
          font-size: 1.6rem;
          font-weight: bold;
          line-height: 2rem;
        }
      }
    }//.other-check
  }//&__form

  &__btn {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 1.5rem 0;
    border-radius: 3px;
    text-align: center;
    background-color: $blk;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    @include mdc-sm {
      width: 90%;
    }
    transition: all .3s;
    &:hover {
      background-color: lighten( $blk, 10% );
    }
  }//&__btn

}//.rsvp-form